<h1 class="western"><strong><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">Bonjour {{actorName}} </span></span></span></strong></h1>
<h1 class="western"><strong><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">{{referencingActorName}} a ajout&eacute; pour </span></span></span></strong><strong><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">vous l'&eacute;v&eacute;nement {{eventName}} sur </span></span></span></strong><em><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">OUAAA!&nbsp;</span></span></span></em></h1>
<p>Pour aller voir le contenu de l'&eacute;v&eacute;nement, l'&eacute;diter ou le supprimer <a href="{{url}}" target="_blank" rel="noopener noreferrer noreferrer">c'est ici !&nbsp;</a></p>
<p>Votre &eacute;v&eacute;nement est visible sur l'agenda et sur votre page acteur.</p>
<p>Bien &agrave; vous,</p>
<p>Ensemble nous sommes une force immense!&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://ouaaa-transition.fr/"><img src="https://ouaaa-transition.fr/logo.png" alt="logo OUAAA!" width="250" height="163" /></a></p>
<p>&nbsp;</p>