<h1 style="color: #d96552; font-family: Helvetica, sans-serif; font-size: medium;">Bonjour {{actorInvitedName}},</h1>
<h2 style="color: #d96552; font-family: Helvetica, sans-serif; font-size: medium;">{{actorName}} vous invite &agrave; participer &agrave; son &eacute;v&eacute;nement "{{eventName}}" qui se d&eacute;roulera le {{date}} &agrave; {{adress}}.</h2>
<p style="font-family: Helvetica, sans-serif; font-size: medium;">Vous pouvez consulter l'&eacute;v&eacute;nement sur OUAAA! <a style="color: #d96552;" href="{{url}}" target="_blank" rel="noopener noreferrer">ici</a>.</p>
<p style="font-family: Helvetica, sans-serif; font-size: medium;">Voici son message d'invitation :</p>
<p style="font-family: Helvetica, sans-serif; font-size: medium; text-align: center;">{{invitationMessage}} <!-- Placeholder for custom message --></p>
<p style="font-family: Helvetica, sans-serif; font-size: medium;">Merci de lui r&eacute;pondre afin de s'organiser au mieux pour cet &eacute;v&eacute;nement.</p>
<p style="font-family: Helvetica, sans-serif; font-size: medium;">Bien &agrave; vous,</p>
<p style="font-family: Helvetica, sans-serif; font-size: medium;">Ensemble, nous sommes une force immense!</p>
<p><a href="https://ouaaa-transition.fr/" target="_blank"> <img src="https://ouaaa-transition.fr/logo.png" alt="logo OUAAA!" width="250" height="163" /> </a></p>