<h1 class="western"><strong><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">Un nouveau participant &agrave; l'&eacute;v&eacute;nement&nbsp;</span></span></span></strong><em><strong><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">{{eventName}} </span></span></span></strong></em><strong><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">&nbsp;s'est manifest&eacute; depuis </span></span></span></strong><em><span style="color: #d96552;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">OUAAA!</span></span></span></em></h1>
<p><span style="font-family: Helvetica, sans-serif;"><span style="font-size: large;"><span style="color: #222222;">{{firstNameVolunteer}} {{lastNameVolunteer}} souhaite participer &agrave; votre &eacute;v&eacute;nement</span>. <span style="color: #222222;">&nbsp;</span></span></span></p>
<p><span style="color: #222222;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: large;">Voici son contact : <a href="mailto:{{emailVolunteer}}">{{emailVolunteer}}</a></span></span></span></p>
<p><span style="color: #222222;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: large;">Vous pouvez retrouver l'ensemble des participants dans votre <a href="{{url}}" target="_blank" rel="noopener">espace acteur</a></span></span></span></p>
<p><span style="color: #222222;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: large;">Belle journ&eacute;e,</span></span></span></p>
<p><span style="color: #222222;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: large;">L'&eacute;quipe </span></span></span><em><span style="color: #222222;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: large;">OUAAA!</span></span></span></em></p>
<p><img src="https://ouaaa-transition.fr/logo.png" alt="logo OUAAA!" width="250" height="163" /></p>
<p>&nbsp;</p>