<h1 class="western"><span style="color: #2c367e; font-family: Helvetica, sans-serif; font-size: xx-large;">Changement de mot de passe</span></h1>
<p><span class="xml">Bonjour {{nomprofil}}, vous avez demand&eacute; &agrave; renouveller votre mot de passe.</span></p>
<h3><span class="xml">Le code confirmation est : </span><strong><span class="hljs-template-variable">{{code}}</span></strong></h3>
<p><span style="color: #222222;"><span style="font-family: Helvetica, sans-serif;"><span style="font-size: medium;">L&rsquo;&eacute;quipe <em>OUAAA!</em></span></span></span></p>
<p><img src="https://ouaaa-transition.fr/logo.png" alt="logo OUAAA!" width="250" height="163" /></p>
<p>&nbsp;</p>