<h1><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;">Validation de votre compte <em>OUAAA!</em></span></span></h1>
<p><span style="color: #000000;"><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;">📣 Bonjour <strong>{{surname}} {{lastname}}</strong>,</span></span></span></p>
<p><span style="color: #000000;"><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;">Nous avons besoin de v&eacute;rifier votre email {{email}}. </span></span></span></p>
<p><span style="color: #000000;"><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;">Pour confirmer votre inscription sur le site, nous vous invitons &agrave; le valider ✔️ en cliquant sur ce lien : <a href="{{urlValidation}}" target="_blank">{{urlValidation}}</a></span></span></span></p>
<p><span style="color: #000000;"><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;">En cas de difficult&eacute;, vous pouvez nous contacter via <a href="mailto:contact@ouaaa-transition.fr">contact@ouaaa-transition.fr</a></span></span></span></p>
<p><span style="color: #000000;"><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;">A bient&ocirc;t sur <a href="https://ouaaa-transition.fr/" target="_blank">ouaaa-transition.fr</a></span></span></span></p>
<p><span style="color: #000000;"><span style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: medium;"><em>l'</em><em>&eacute;</em><em>quipe OUAAA!&nbsp;</em></span></span></span></p>
<p><img src="https://ouaaa-transition.fr/logo.png" alt="logo OUAAA!" width="250" height="163" /></p>
<p>&nbsp;</p>